<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Learning English</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../vendor/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="../css/admin.css" />
    <!-- Javascript -->
    <script src="../assets/vendor/jquery/jquery.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="../javascript/admin.js"></script>
    <script src="../vendor/jquery.dataTables.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Giao diện Admin</h2>
        <ul class="nav nav-tabs" id="admin_menu">
            <li class="active"><a data-toggle="tab" href="#menu1">Quản lý người dùng</a></li>
            <li><a data-toggle="tab" href="#menu2">Quản lý góp ý</a></li>
            <li><a data-toggle="tab" href="#menu3">Quản lý dữ liệu</a></li>
        </ul>

        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
                <table id="usersTable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>Exp</th>
                            <th>Level</th>
                            <th>Block/Unblock</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="menu2" class="tab-pane">
                <ul class="nav nav-tabs" id="menu2_tabs">
                    <li class="active"><a href="#none_replied" data-toggle="tab">Góp ý chưa trả lời</a></li>
                    <li><a href="#replied" data-toggle="tab">Góp ý đã trả lời</a></li>
                </ul>
            </div>
            <div id="menu3" class="tab-pane fade">
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
        <div class="tab-content">
            <div id="none_replied" class="tab-pane fade">
                <div id="news-content"></div>
            </div>
            <div id="replied" class="tab-pane fade">
                <div id="replied_content"></div>
            </div>
        </div>
    </div>

</body>

</html>