<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning English</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/trung.css">
    <link rel="stylesheet" href="../css/gopy.css">
    <script src="../assets/vendor/jquery/jquery.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="../js/gopy.js"></script>
</head>

<body class="bgc">
    <!-- header page -->

    <nav id="myScrollspy" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#"><button class="button-header btn-info">Trang chủ</button></a>
                </li>
                <li>
                    <a href="ThaoLuan"><button class="button-header btn-info">Thảo luận</button></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="profile">
                        <img src="../images/beauty.jpg" class="img-circle" alt="user img" width="30" height="30">
                        <i>Người khó xử</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container row">
        <div class="col-md-1"></div>
        <!-- main panel -->
        <div class="col-md-7 main-panel">
            <h1 class="topic-heading">Dòng thảo luận</h1>

            <ul class="nav nav-tabs">
                <li class="active"><a href="#home">Bình luận</a></li>
                <li><a href="#menu1">Mới</a></li>
                <li><a href="#menu2">Đã theo dõi</a></li>

            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>Bình luận</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Mới</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Đã theo dõi</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>111
                </div>

            </div>

        </div>
        <div class="col-md-3 right-panel">
            <div class="box-gray">
                <h2 style="margin-bottom: 15px;">
                    <button class="btn btn-blue btn-edit-subscriptions">
					  Sửa đổi
					  </button> Đang theo dõi:
                </h2>

            </div>
        </div>
    </div>


</body>

</html>