<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning English</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/trung.css">
    <!-- <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script> -->
    <script src="../assets/vendor/jquery/jquery.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.js"></script>
</head>

<body class="bgc">
    <!-- header page -->

    <nav id="myScrollspy" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <button class="button-header btn-info">Trang chủ</button>
                    </a>
                </li>
                <li>
                    <a href="ThaoLuan">
                        <button class="button-header btn-info">Thảo luận</button>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="profile">
                        <img src="../images/beauty.jpg" class="img-circle" alt="user img" width="30" height="30">
                        <i>Người khó xử</i>
                    </a>
                </li>

            </ul>
        </div>
    </nav>

    <div id="main" class="container-fluid">
        <div id="show-result" class="container" hidden>
            <h2 class="text-success">Kết quả bài làm của bạn:</h2>
            <h2 id="point" class="text-center text-danger"></h2>
            <button id="done-btn" class="button-header pull-right btn-danger">
                Tiếp tục
            </button>
        </div>
        <div id="main-interface" class="row">
            <div class="col-md-1"></div>
            <!-- main panel -->
            <div class="col-md-7 main-panel">
                <h2 class="text-center"><i> Các chủ đề </i></h2>
                <!-- dong chu de 1 -->
                <div class="theme-box" id="question-box">
                    <!-- chu de 1 -->
                    <!-- <div class="theme-div">
                        <button class="theme">
                            <em></em>
                        </button>
                        <span class="theme-name">name</span>
                        <div class="progress"></div>
                    </div> -->
                </div>
            </div>

            <div class="col-md-3 right-panel">
                <div class="level">
                    <span>Mức độ thông thạo</span>
                    <br>
                    <br>
                    <h1>20%</h1>
                </div>

                <hr>
                <h4>Mục tiêu mỗi ngày</h4>
                <br>
            </div>
        </div>

    </div>
    <div id="view-question" hidden>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="question-panel" class="panel panel-default">
                    <div class="panel-heading">
                        <h2 id="question"></h2>
                    </div>
                    <div id="list-answer" class="panel-body">

                    </div>
                </div>
            </div>

        </div>
        <div class="group-button">
            <button id="ignore-btn" class="button-header btn-warning">
                Bỏ qua
            </button>
            <!-- <h3 id="correct-response" class="text-success alert-result" hidden>
                Chính xác !!!
            </h3>
            <h3 id="wrong-response" class="text-danger alert-result" hidden>
                Câu trả lời sai !!!
            </h3> -->
            <button id="check-btn" class="button-header pull-right btn-success">
                Kiểm tra
            </button>
            <button id="next-btn" class="button-header pull-right btn-danger" hidden>
                Tiếp tục
            </button>
        </div>

    </div>


    <!-- MAIN JAVASCRIPT -->
    <script type="text/javascript" src="../javascript/main.js"></script>


</body>

</html>